#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes autoRotate   {
  0% {
    --angle: -45deg;
    filter:opacity(0);
  }
  30%,70% {
    filter:opacity(1);
  }
  100% {
    --angle: 315deg;
    filter:opacity(0);
  }  
}

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: -45deg;
}

.pulse-border::after,
.pulse-border::before {
  content: '';
  background-image: conic-gradient(
  from var(--angle), #ea2d2d, transparent 20%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border: none;
  border-radius: inherit;
  animation: autoRotate 1s linear;
  padding: 5px;
  box-sizing: unset;
}